# SPDX-FileCopyrightText: Copyright (c) Orange SA, Pierre-Yves Lapersonne
# SPDX-License-Identifier: MIT

# Items ordered with the same order as used in GitHub web UI
# Items splitted by owners groups

# Project folders

/.github/ @pylapp

/DesignToolbox/ @pylapp

# Utility files

.gitattributes @pylapp
.gitignore @pylapp

.gitleaks.toml @pylapp
.swiftformat @pylapp

.swiftlint.yml @pylapp

CHANGELOG.md @pylapp

Gemfile @pylapp
Gemfile.lock @pylapp

LICENSE @pylapp

README.md @pylapp

AGENTS.md @pylapp
THIRD_PARTY.md @pylapp
