# Git mailmap file
# Keep it updated and alphabetically sorted
# Allows to pack commits with several Git user.name and user.email configurations to the same person
# Use "git shortlog -sne" for logs

# Bots and AI agents

Renovate [bot] <29139614+renovate[bot]@users.noreply.github.com> renovate[bot] <29139614+renovate[bot]@users.noreply.github.com>
StepSecurity [bot] <bot@stepsecurity.io> StepSecurity Bot <bot@stepsecurity.io>

# Humans

Pierre-Yves LAPERSONNE <pierreyves.lapersonne@orange.com> Pierre-Yves Lapersonne <pierreyves.lapersonne@orange.com>
Pierre-Yves LAPERSONNE <pierreyves.lapersonne@orange.com> Pierre-Yves Lapersonne <dev@pylapersonne.info>
Ludovic PINEL <ludovic.pinel@orange.com> Ludovic Pinel <ludovic.pinel@orange.com>
Ludovic PINEL <ludovic.pinel@orange.com> LudovicPinel <ludovic.pinel@orange.com>
